@charset "utf-8";
/* CSS Document */
@media screen and (min-width: 768px){
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -40px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
    margin-left: -40px;
}

}
/*@media only screen and (min-width: 992px){
	.servicePage-img{
		width:100%;
	}
}*/

@media only screen and (max-width: 1199px){
	.navbar-nav>li>a{
		margin: 14px 10px !important;
	}
	.service-content {
    	float: left;
    	width: 70%;
   		margin-left: 10px;
}
.bg-txt {
    border-left: 10px solid #fb9809;
    padding: 0 10px;
    bottom: auto;
    position: absolute;
    top: 16%;
    left: 5%;
}
.dropdown-menu {
    right: auto;
    left: 10px !important;
}
}

@media only screen and (max-width: 991px){
	.navbar-nav>li>a{
			font-size:14px;
		    margin: 14px 4px !important;
	}
	.carousel-caption p {
    	font-size: 20px;
}
	.carousel-caption h3 {
    	font-size: 45px;
}
	.carousel-caption{
		top:32%;
}
	.carousel-caption {
    	bottom: auto;
}
.service-content {
    	float: left;
    	width: 80%;
   		margin-left: 25px;
}
.servicePage-txt {
    margin-top: 15px;
}
.servicePage-img{
	max-width:333px;
}
.bg-txt{
    top: 204px;
    left: 14%;
}
.dropdown-menu {
    right: auto;
    left: 4px !important;
}
.about-img img {
    width: 37%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 6px 10px #777777ad;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.5s;
	float: none;
	margin-right: 0;
    margin-bottom: 15px;
}
    
}
}

@media only screen and (max-width: 767px){
	.s-media-header {
    	float: left !important;
}
	.phone-mail-header {
    
    margin-bottom: 0px;
    
}
	.s-media-header{
	margin-top: 0px;
}
.navbar-inverse .navbar-collapse{
	margin-top: 75px;
}
.carousel-caption h3 {
    font-size: 28px;
}
.bg-txt {
    border-left: 10px solid #fb9809;
    padding: 0 10px;
    bottom: auto;
    position: absolute;
    top: 34%;
    left: 5%;
}
.navbar-fixed-top {
    margin-top: 70px;
}

}
@media only screen and (max-width: 665px){
	.carousel-caption{
		left: 60px;
	}
	.carousel-caption p{
		font-size: 14px;
	}
	
}
@media only screen and (max-width: 504px){
.service-content {
    float: left;
    width: 72%;
    margin-left: 10px;
}
.bg-txt h1{
	font-size: 40px;
}
.bg-txt p {
    font-size: 18px;    
}
.bg-txt {
    border-left: 10px solid #fb9809;
    padding: 0 10px;
    bottom: auto;
    position: absolute;
    top: 34%;
    left: 7%;
}


}

@media only screen and (max-width: 446px){
	.navbar-fixed-top {
    margin-top: 70px;
}
.servicePage-img{
	max-width:280px;
}
}
@media only screen and (max-width: 413px){
	.navbar-fixed-top {
    margin-top: 91px;
}

}
@media only screen and (max-width: 360px){
	.bg-txt{
		top: 40%;
    	left: 7%;
	}
}