@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: lato-regular;
    src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face {
    font-family: lato-italic;
    src: url(../fonts/lato/Lato-Italic.ttf);
}
@font-face {
    font-family: lato-bold;
    src: url(../fonts/lato/Lato-Bold.ttf);
}
@font-face {
    font-family: lato-boldItalic;
    src: url(../fonts/lato/Lato-BoldItalic.ttf);
}
@font-face {
    font-family: playball-regular;
    src: url(../fonts/playball/Playball-Regular.ttf);
}
.padding-none{padding:0;}
/* header started */
#header-id{
	background-color:#fafafa;
	border-bottom:1px solid #e5e5e5;
}
.phone-mail-header{
	padding: 0;
	margin: 0;
}
.phone-mail-header li{
	list-style-type:none;
	display:inline-block;
	padding: 15px 15px;
	border-left: 1px solid #e5e5e5;
	color: #999999;
	font-family: lato-regular;
	font-size:15px;
}
.s-media-header{
	padding: 0;
	margin: 0;
	float:right;
}
.s-media-header li{
	color:#999999;
	list-style-type:none;
	display:inline-block;
	padding: 17px 17px;
	border-left: 1px solid #e5e5e5;
}
.s-media-header li:hover{
	color:#dd001f;
	cursor: pointer;
}
/* header ended*/

/* nav bar started */
.navbar-inverse {
    background-color: white;
    border-color: white;
}
.navbar-brand {
    padding: 0px 10px;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    margin-top: 50px;
}
.nav>li>a {
	color: #605c5c;
	font-family: lato-bold;
    position: relative;
    display: block;
    padding: 0 0px 0px 0px;
    margin: 35px 15px 35px 15px;
}
.nav>li>a:hover {
	color: #dd001f !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #230000;
	background-color:transparent;
    border-bottom: 3px solid #dd001f;
}
.navbar-fixed-top {
    background-color: #fff;
   	top:0px;
	/*position:fixed;*/
	
}
.navbar.navbar-fixed-top.fixed-theme {
    background-color: #fff;
    top: 0px;
    margin-top: 0px;
    z-index: 1031;
	    -webkit-transition: 0.8s;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #dd001f;
}
.navbar-inverse .navbar-toggle {
    border-color: #3330;
}
.border-right{
	border-right: 1px solid #e5e5e5;
}
.navbar-brand img{
	width: 350px;
    padding-top: 5px;
}

/* nav bar ended */

/* slider started*/
.main-slide{
	margin-top:77px;
}

/* slider ended*/

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}
/* our services started */

.main-heading{
	text-align:center;
}
.main-heading h1{
    margin-bottom: 2px;
	font-family: playball-regular;
	font-size:35px;
	margin-top:0px;
	color:#dd001f;
}
.main-heading h1 span{
	color: #000;
}
.main-heading p{
   	font-family: lato-italic;
	color: #908e8e;
	font-size:18px;
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}

/*Carousel start*/
.padding-area{
	padding-left:15px;
	padding-right:15px;
}

.owl-box{
	padding: 0px;
    margin: 0px 0px 20px;
    float: left;
    width: 100%;
    min-height: 120px;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.owl-carousel-control.right {
    position: absolute !important;
    top: 40% !important;
    right: -6%;
	padding-left:36px;
}
.owl-carousel-control.left {
    position: absolute !important;
    top: 40% !important;
    left: -8%;
}
.service-caption{
	position:absolute;
	bottom: 20px;
	width: 100%;
	background-color:#ffffffde;
	border-left:6px solid #dd001f;
	padding: 8px 0 8px 10px;
}
.service-caption p{
	margin: 0;
	font-family: lato-boldItalic;
	color: #dd001f;
	font-size:18px;
	
}
.button-img{
	text-align:center;	
}
.button-img img{
	width: 180px;
}
.button-img img:hover {
   box-shadow: 0 0 4px 2px #0000004a;
}
.service-img{
	display:inline-block;
}
/*Carousel end*/

/* our services ended*/

/* about started */
#about-id{
	background:url(../images/about-img.jpg);
	background-attachment:fixed;
	background-position:top;
	background-size: cover;
	min-height:350px;
}
.about-heading{
	text-align:left;
}
.about-txt{
	color:#4f4d4d;
	font-family: lato-italic;
	font-size: 18px;
	    margin-top: 30px;
}
.about-area{
	background-color:rgba(255, 255, 255, 0.6);
	margin-left:43px;
	min-height:400px;
	padding: 0 40px;
}
.about-heading h1{
    margin-bottom: 2px;
	font-family: playball-regular;
	font-size:35px;
	margin-top:0px;
	color:#dd001f;
    margin-top: 25px;
}

.about-heading h1 span{
	color: #000;
}
.about-heading p{
   	font-family: lato-italic;
	color: #908e8e;
	font-size:18px;
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
	
}
.about-heading span{
	border-bottom:1px solid #dd001f;
}
.about-button-img img {
    width: 180px;
	margin-top:30px;
}
.about-button-img img:hover {
        box-shadow: 0 0 4px 2px #00000073;;
}
/* about ended */

/*gallery strted*/
.overlay {
  
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  text-align:center;
	display: inline-block;
    color: white;
    padding: 40px;
   
    right: 0;
    bottom: 0;
	transition: 0.5s;
}
.overlay:hover{
	opacity:1;
	
}
.overlay:hover{
	opacity:1;
}
.overlay-content{
	border:1px solid white;
	
}
.out-line{
	border: 1px solid white;
	padding:75px 15px;
	background-color: #0000006b;
}
.out-line h3{
	font-family: playball-regular;
}
.out-line p{
	font-family: lato-italic;
}
.out-line span{
	font-family: lato-italic;
	color:#dd001f;
}
.button-img{
	margin-top:20px;
}
#gallery-id{
	padding:30px 0;
}
/*gallery ended*/

/* footer started */
#footer-id{
	background:url(../images/footer-bg.jpg);
	padding:20px 0;
}
.contact-info{
	color:white;
	font-size:28px;
	padding-bottom:20px;
	font-family: playball-regular;
}
.contact-info span{
	border-bottom: 1px solid #dd001f;
}
.addres h2{
	color: #fb9809;
	text-transform:uppercase;
	margin-top: 10px;
	font-family: barlowCondensed-regular, sans-serif;
	font-size:26px;
}
.addres p{
	color: #cccccc;
	line-height:1.7;
	font-family: lato-italic;
	margin-top:30px;
	font-size:16px;
}
.addres span{
	color: #dd001f;
	
}
.links{
	color: white;
	margin-top:15px;
	padding-left:0;
}
.links li{
	list-style-type:none;
	padding:6px 0;
	color: #c7c2c2;	
}
.links li a{
	color: #c7c2c2;
    text-decoration: none;	
	font-family: lato-italic;
	font-size: 15px;
}

.about-txt{
	color: #4f4d4d;;
	margin-top: 20px;
	line-height:1.7;
	font-family: lato-italic;
	font-size:16px;
}
.about-txt a{
	color: #fb9809;
}
.address-box i{
	float: left;
	color:#dd001f;
	font-size: 18px;
	margin-top: 5px;
}

.phone-box i{
	float: left;
	color:#dd001f;
	font-size: 18px;
}
.mail-box i{
	float: left;
	color:#dd001f;
	font-size: 18px;
}
.mail-box p, .phone-box p, .address-box p{
	color: #c7c2c2;
	padding-left:30px;
	font-family: lato-italic;
	margin-top:5px;
	margin-bottom:5px;
	font-size:16px;
}
.padding-left{
	padding-left: 115px;
}
.footer-img img{
	width:320px;
}
.address-box h3{ 
	font-size: 18px;
    color: white;
    font-family: lato-bold;
	margin-top:10px;
}
/* footer ended */


#footerBar-id{
	background-color:#000;
}
.footer-bar{
	text-align:center;
	line-height:50px;
}
.footer-bar p{
	color: #fff;
	font-family: lato-regular;
	margin-bottom:0;
}
.footer-bar span{
	color: #dd001f;
}

/* about page started */
#service-id{
	background:url(../images/aboutPage-img.jpg);
	padding:30px 0;
}
.aboutPage-txt p{
    color: #4f4d4d;
    margin-top: 20px;
    line-height: 1.7;
    font-family: lato-italic;
    font-size: 16px;
	text-align:justify;
}
.about-bg{
	margin-top:77px;
}
/* about page ended*/

/* gallery page started */
.gallery-page{
	margin-top:30px;
}
/* gallery page ended */

/* service page started */
.servicePage-heading h2{
	text-align:left;
	font-family: playball-regular;
	color: #dd001f;
	margin-top: 0;
    margin-bottom: 10px;
	margin-top: 20px;
}
.servicePage-img{
	text-align:center;
}
.servicePage-img img{
	width: 35%;
	border:5px solid white;
	float:left;
	margin-right: 25px;
	margin-bottom:25px;
}
.servicePage-img img:hover{
	border: 5px solid #dd001f59;
	transition: 0.5s;
	border-radius: 3px;
}
.servicePage-txt{
	font-family: lato-italic;
    color: #908e8e;
    font-size: 18px;
    line-height: 1.7;
	text-align:justify;
}
.servicePage-txt span{
	
	color:black;
}
.servicePage-line{
	border-top: 1px solid #dd001f;
	margin:30px 0;
}

/* contact page started */
#contactPage-id{
	padding: 40px 0 50px 0;
	background-color: #f4f4f4;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 9px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit] {
	font-size: 18px;
    font-family: lato-regular;
    background-color: #dd001f;
    color: white;
    padding: 3px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	
}

input[type=submit]:hover {
   	font-size: 18px;
    font-family: lato-regular;
    background-color: #000;
    color: white;
    padding: 3px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
	
	
}
.contactPage-info{
	padding: 20px;
    box-shadow: 1px 1px 4px 0px #00000070;
	margin-bottom:30px;
}
.contactPage-info h1{
	color: black;
    text-transform: uppercase;
    font-size: 28px;
    border-bottom: 0.5px solid #cccccc;
	padding-top:0px;
    padding-bottom: 20px;
    font-family: barlowCondensed-regular, sans-serif;

}
.contactPage-info:hover{
	padding: 20px;
    box-shadow: 1px 1px 4px 2px #00000050;
	transition: 0.3s;
	transition-duration: 0.3s;
}
.addresPage-info{
	background-color: #1b1b1b;
	border:1px solid #dd001f;
	padding:20px;
	margin-bottom:30px;
}
.addresPage-info h1{
	color: white;
    text-transform: uppercase;
    font-size: 28px;
    border-bottom: 0.5px solid #cccccc;
	padding-top:0px;
    padding-bottom: 20px;
    font-family: barlowCondensed-regular, sans-serif;

}
.addresPage h2{
	color: #fb9809;
    text-transform: uppercase;
    margin-top: 14px;
	padding-bottom:10px;
    font-family: barlowCondensed-regular, sans-serif;
    font-size: 26px;
	border-bottom: 0.5px solid #cccccc;	
}
.addresPage p{
	color: #cccccc;
    line-height: 1.9;
    font-family: firaSans-regular, sans-serif;	
	padding-left: 35px;
	margin-top:5px;
}
.addresPage i{
	float:left;
	font-size:15px;
	color:#dd001f;
	margin-top:10px;
}
.contactPage-info, .addresPage-info{
	margin-top:30px;
}
.addresPage-info h2{
	color:#dd001f;
	 font-family: lato-regular;
	 margin-top:0;
}
/* contact page end */

/* career page started */
#careerPage-id {
    padding: 40px 0 50px 0;
    background-color: #f4f4f4;
}
.careerPage-info label{
	padding:0;
	margin:16px 0;
	font-family: lato-regular;
	color:#4f4d4d;
	font-size:14px;
}
.radio{
	margin-left:25px !important;
}
.form-control-file {
	margin:16px 0px!important;
}
.careerPage-info {
    padding: 20px 20px;
	margin: 20px 0;
    margin-bottom: 30px;
    min-height: 730px;
	border-radius: 3px;
	transition:0.5s;
}
.careerPage-info:hover{
    box-shadow: 1px 1px 4px 0px #00000070;
	transition:0.5s;
}
.btn-career{
	margin-top: 10px;
}
.careerPage-info input[type=submit] {
	float: right;
    margin-right: 35px;
	
}
/* career page ended */







