.galleryPage-section {
  margin-top: -72vh; }
  .galleryPage-section .gallery-section {
    margin-top: 0; }
    .galleryPage-section .gallery-section .main-heading {
      color: #fff;
      margin-bottom: 20px;
      text-align: center; }
    .galleryPage-section .gallery-section .heading-content {
      font-size: 14px;
      font-weight: 400;
      opacity: 0.7;
      text-align: center;
      max-width: 841px;
      margin-left: auto;
      margin-right: auto;
      color: #fff;
      margin-bottom: 50px; }

.galleryPopup.show ~ .galleryPage-section {
  display: none; }

.galleryPopup.show ~ .loader {
  min-height: 720px; }
  .galleryPopup.show ~ .loader .load-wrapp {
    display: none; }

@media (min-width: 576px) {
  .galleryPopup .modal-dialog {
    max-width: 1140px;
    margin: 6.75rem auto; } }

.galleryPopup .modal-dialog .modal-content {
  background-color: transparent;
  border: none; }
  .galleryPopup .modal-dialog .modal-content .modal-header {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0; }
    .galleryPopup .modal-dialog .modal-content .modal-header .close {
      margin-left: auto;
      margin-right: auto;
      color: #fff;
      font-size: 65px;
      font-weight: 100;
      opacity: 1; }
