.navBar-section {
  z-index: 2;
  position: relative; }
  .navBar-section .navbar {
    background-color: #000000b3;
    height: 85px;
    position: fixed;
    width: 100%; }
    .navBar-section .navbar .navbar-brand {
      width: 90px;
      margin-top: 50px;
      padding: 5px; }
      @media (max-width: 767.98px) {
        .navBar-section .navbar .navbar-brand {
          margin-top: 30px; } }
      .navBar-section .navbar .navbar-brand img {
        width: 100%; }
    .navBar-section .navbar .hamburger {
      position: absolute;
      top: 0;
      right: 0;
      height: 85px; }
      @media (min-width: 768px) {
        .navBar-section .navbar .hamburger {
          display: none; } }
      .navBar-section .navbar .hamburger .hamburger-box .hamburger-inner {
        background-color: #fff;
        height: 1px;
        width: 35px; }
        .navBar-section .navbar .hamburger .hamburger-box .hamburger-inner:before {
          background-color: #fff;
          height: 1px;
          width: 35px; }
        .navBar-section .navbar .hamburger .hamburger-box .hamburger-inner:after {
          background-color: #fff;
          height: 1px;
          width: 35px; }
    .navBar-section .navbar .collapse .navbar-nav .nav-item .nav-link {
      color: #fff;
      padding-right: 2rem;
      padding-left: 2rem; }

.navBar-section.sticky .navbar {
  height: 65px;
  background-color: #000000; }
  .navBar-section.sticky .navbar .hamburger {
    height: 65px; }
  @media (max-width: 767.98px) {
    .navBar-section.sticky .navbar .navbar-brand {
      margin-top: 50px; } }

.vdoBanner-section {
  height: 100vh;
  overflow: hidden; }
  .vdoBanner-section .bannerVdocontroll {
    height: 100vh; }
    .vdoBanner-section .bannerVdocontroll video {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }

.about-section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 767.98px) {
    .about-section {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .about-section .pulsating-circle {
    width: 68px;
    height: 68px;
    right: 0;
    left: 25%;
    bottom: -52px;
    z-index: 1; }
    @media (max-width: 767.98px) {
      .about-section .pulsating-circle {
        left: 70%; } }
    .about-section .pulsating-circle:after {
      background-image: url(../images/leaf.svg);
      background-color: #d2b48c00;
      background-repeat: no-repeat;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .about-section .pulsating-circle.one {
    top: -20px;
    left: 50%;
    -webkit-transform: rotate(133deg);
    -ms-transform: rotate(133deg);
    transform: rotate(133deg); }
  .about-section .pulsating-circle.two {
    left: -31px;
    top: 50%;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }
  .about-section .main-heading {
    text-align: center; }
  .about-section p {
    text-align: center;
    max-width: 841px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px; }
    @media (max-width: 767.98px) {
      .about-section p {
        margin-bottom: 0px; } }
  .about-section .imgWrapper {
    position: relative;
    padding: 45px; }
    @media (max-width: 767.98px) {
      .about-section .imgWrapper {
        padding: 15px 0 0 0; } }
    .about-section .imgWrapper img {
      width: 100%; }
    .about-section .imgWrapper .pulsating-circle {
      width: 84px;
      height: 84px;
      right: -73px;
      bottom: -73px;
      z-index: -1; }
      .about-section .imgWrapper .pulsating-circle:after {
        background-color: #000; }
  .about-section .about-detail {
    margin-left: 40px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    @media (max-width: 767.98px) {
      .about-section .about-detail {
        margin-left: 0;
        margin-top: 30px; } }
    .about-section .about-detail .box {
      margin-top: auto;
      margin-bottom: auto; }
      .about-section .about-detail .box h3 {
        text-align: left;
        font-size: 25px;
        font-weight: bold; }
      .about-section .about-detail .box p {
        text-align: left;
        opacity: 0.6; }
      .about-section .about-detail .box .primary-btn {
        color: #000; }
        .about-section .about-detail .box .primary-btn::before {
          background-color: #DADAE2; }
        .about-section .about-detail .box .primary-btn::after {
          background-image: url("../images/arrow-2.svg"); }
  .about-section .ripple {
    width: 0;
    height: 0;
    position: absolute;
    top: 0%;
    left: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
    border-radius: 50%;
    z-index: 4;
    -webkit-animation: pulse 4s infinite;
    animation: pulse 4s infinite;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    @media (max-width: 991.98px) {
      .about-section .ripple {
        top: 30%; } }
  .about-section .inner-ripple {
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: 1px solid #1a1a1a; }
  .about-section .middle-ripple {
    background-color: transparent;
    width: 200px;
    height: 200px;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
    border: 1px solid #1a1a1a; }
  .about-section .outer-ripple {
    background-color: transparent;
    width: 350px;
    height: 350px;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
    border: 1px solid #1a1a1a; }

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
    transform: scale(1) translateX(-50%) translateY(-50%); }
  30% {
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    opacity: 0; } }

@keyframes pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
    transform: scale(1) translateX(-50%) translateY(-50%); }
  30% {
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    opacity: 0; } }

.behind-brand-section {
  background-color: #000;
  padding: 190px 0;
  position: relative;
  overflow: hidden; }
  @media (max-width: 991.98px) {
    .behind-brand-section {
      padding: 50px 0;
      max-height: 1110px; } }
  .behind-brand-section .pulsating-circle {
    width: 68px;
    height: 68px;
    right: 0;
    left: 25%;
    bottom: -52px;
    z-index: 1; }
    @media (max-width: 767.98px) {
      .behind-brand-section .pulsating-circle {
        left: 10% !important; } }
    .behind-brand-section .pulsating-circle:after {
      background-image: url(../images/leaf-white.svg);
      background-color: #d2b48c00;
      background-repeat: no-repeat; }
  .behind-brand-section .pulsating-circle.one {
    top: -20px;
    left: 50%;
    -webkit-transform: rotate(133deg);
    -ms-transform: rotate(133deg);
    transform: rotate(133deg); }
  .behind-brand-section .pulsating-circle.two {
    left: -31px;
    top: 50%;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }
  .behind-brand-section .left .main-heading {
    color: #fff;
    text-align: left; }
  .behind-brand-section .left p {
    color: #888888; }
  .behind-brand-section .circle-slider {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media (max-width: 991.98px) {
      .behind-brand-section .circle-slider {
        position: initial;
        margin-top: 60%;
        -webkit-transform: translate(11%, -42%);
        -ms-transform: translate(11%, -42%);
        transform: translate(11%, -42%); } }
    .behind-brand-section .circle-slider .imgWrapper {
      width: 500px; }
      .behind-brand-section .circle-slider .imgWrapper img {
        width: 100%;
        height: auto; }
  .behind-brand-section .ripple {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
    border-radius: 50%;
    z-index: 4;
    -webkit-animation: pulse 4s infinite;
    animation: pulse 4s infinite;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    @media (max-width: 991.98px) {
      .behind-brand-section .ripple {
        top: 30%; } }
  .behind-brand-section .inner-ripple {
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: 1px solid #fff; }
  .behind-brand-section .middle-ripple {
    background-color: transparent;
    width: 200px;
    height: 200px;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
    border: 1px solid #fff; }
  .behind-brand-section .outer-ripple {
    background-color: transparent;
    width: 350px;
    height: 350px;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
    border: 1px solid #fff; }

@keyframes pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
    transform: scale(1) translateX(-50%) translateY(-50%); }
  30% {
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    opacity: 0; } }

.product-section {
  height: 567px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative; }
  @media (max-width: 767.98px) {
    .product-section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 30px;
      height: auto; } }
  .product-section .product-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 595px;
    border-right: 1px solid #CCCCCC;
    width: 280px;
    padding-right: 30px; }
    @media (max-width: 767.98px) {
      .product-section .product-left {
        width: 100%;
        border-right: none;
        height: 120px;
        padding-right: 0px; } }
    .product-section .product-left .product-heading {
      padding-left: 15px;
      margin-top: auto;
      margin-bottom: auto; }
      .product-section .product-left .product-heading h1 {
        text-align: left; }
      .product-section .product-left .product-heading .primary-btn {
        color: #000; }
        .product-section .product-left .product-heading .primary-btn::before {
          background-color: #DADAE2; }
        .product-section .product-left .product-heading .primary-btn::after {
          background-image: url("../images/arrow-2.svg"); }
  .product-section .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-perspective: 1000;
    perspective: 1000;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll; }
    .product-section .product-list::-webkit-scrollbar {
      display: none; }
    .product-section .product-list .product-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .product-section .product-list .product-right .product {
        border-right: 1px solid #CCCCCC;
        padding: 30px;
        -webkit-perspective: 500px;
        perspective: 500px;
        margin-top: auto;
        margin-bottom: auto; }
        .product-section .product-list .product-right .product .product-detail h3 {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 15px; }
        .product-section .product-list .product-right .product .product-detail h1 {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 15px; }
        .product-section .product-list .product-right .product .product-detail p {
          font-size: 14px;
          font-weight: normal;
          opacity: 0.7; }
      .product-section .product-list .product-right .owl-nav {
        display: none; }
  .product-section .ripple {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
    border-radius: 50%;
    z-index: 0;
    -webkit-animation: pulse 4s infinite;
    animation: pulse 4s infinite;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    @media (max-width: 991.98px) {
      .product-section .ripple {
        top: 30%; } }
  .product-section .inner-ripple {
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: 1px solid #1a1a1a; }
  .product-section .middle-ripple {
    background-color: transparent;
    width: 200px;
    height: 200px;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
    border: 1px solid #1a1a1a; }
  .product-section .outer-ripple {
    background-color: transparent;
    width: 350px;
    height: 350px;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
    border: 1px solid #1a1a1a; }

@keyframes pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
    transform: scale(1) translateX(-50%) translateY(-50%); }
  30% {
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    opacity: 0; } }

.press-section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 767.98px) {
    .press-section {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .press-section::after {
    position: absolute;
    content: "";
    -webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 100%;
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
    top: 0;
    right: 0;
    background: #efeef2;
    background: -moz-linear-gradient(0deg, #efeef2 0%, rgba(239, 238, 242, 0) 60%);
    background: -webkit-linear-gradient(0deg, #efeef2 0%, rgba(239, 238, 242, 0) 60%);
    background: -webkit-gradient(linear, left bottom, left top, from(#efeef2), color-stop(60%, rgba(239, 238, 242, 0)));
    background: -webkit-linear-gradient(bottom, #efeef2 0%, rgba(239, 238, 242, 0) 60%);
    background: -o-linear-gradient(bottom, #efeef2 0%, rgba(239, 238, 242, 0) 60%);
    background: linear-gradient(0deg, #efeef2 0%, rgba(239, 238, 242, 0) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeef2", endColorstr="#efeef2", GradientType=1);
    z-index: -2; }
  .press-section .main-heading {
    font-size: 40px;
    font-weight: bold; }
  .press-section .press-row {
    position: relative; }
    .press-section .press-row .pulsating-circle {
      width: 118px;
      height: 118px;
      right: 0;
      bottom: -123px;
      z-index: -1;
      left: 1%; }
      .press-section .press-row .pulsating-circle:after {
        background-color: #000; }
  .press-section .heading-content {
    max-width: 840px;
    opacity: 0.7;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50PX; }
    @media (max-width: 767.98px) {
      .press-section .heading-content {
        margin-bottom: 15px; } }
  @media (max-width: 767.98px) {
    .press-section .press {
      margin-top: 30px; } }
  .press-section .press .press-slider {
    border: 1px solid #E5E5E5;
    -webkit-box-shadow: 0 0 0px 0px #00000012;
    box-shadow: 0 0 0px 0px #00000012;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .press-section .press .press-slider:hover {
      -webkit-box-shadow: 0 0 15px 9px #00000012;
      box-shadow: 0 0 15px 9px #00000012; }
    .press-section .press .press-slider .imgWrapper img {
      width: 100%;
      height: auto; }
    .press-section .press .press-slider .slider-content {
      padding: 20px;
      background-color: #fff; }
      .press-section .press .press-slider .slider-content h2 {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.5; }
      .press-section .press .press-slider .slider-content p {
        font-size: 13px;
        font-weight: 400;
        opacity: .7;
        line-height: 1.5;
        margin-bottom: 30px; }
      .press-section .press .press-slider .slider-content .primary-btn {
        color: #000; }
        .press-section .press .press-slider .slider-content .primary-btn::before {
          background-color: #DADAE2; }
        .press-section .press .press-slider .slider-content .primary-btn::after {
          background-image: url("../images/arrow-2.svg"); }

.interview-section {
  background-color: #000;
  padding-top: 100px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 767.98px) {
    .interview-section {
      padding-top: 50px; } }
  .interview-section .pulsating-circle {
    width: 90px;
    height: 90px;
    right: -75px;
    top: 108px;
    z-index: 1; }
    .interview-section .pulsating-circle:after {
      background-color: white; }
  .interview-section .main-heading {
    color: #fff;
    margin-bottom: 50px; }
    @media (max-width: 767.98px) {
      .interview-section .main-heading {
        margin-bottom: 80px; } }
  .interview-section .interview-slider {
    position: relative;
    padding-right: 98px; }
    @media (max-width: 991.98px) {
      .interview-section .interview-slider {
        padding-right: 0; } }
    .interview-section .interview-slider .interview {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 991.98px) {
        .interview-section .interview-slider .interview {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      .interview-section .interview-slider .interview .imgWrapper {
        margin-top: auto; }
        .interview-section .interview-slider .interview .imgWrapper img {
          width: 100%;
          height: auto; }
      .interview-section .interview-slider .interview .interview-content {
        color: #fff;
        margin-top: auto;
        max-width: 400px;
        padding: 45px;
        background-color: #262626; }
        @media (max-width: 991.98px) {
          .interview-section .interview-slider .interview .interview-content {
            padding: 20px;
            max-width: 100%; } }
        .interview-section .interview-slider .interview .interview-content h1 {
          font-size: 22px;
          font-weight: bold; }
        .interview-section .interview-slider .interview .interview-content h2 {
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 20px; }
        .interview-section .interview-slider .interview .interview-content p {
          opacity: 0.7;
          color: #fff;
          margin-bottom: 0; }
    .interview-section .interview-slider .owl-nav {
      position: absolute;
      top: 0;
      right: 98px; }
      @media (max-width: 1199.98px) {
        .interview-section .interview-slider .owl-nav {
          top: -47px;
          right: 88px; } }
      @media (max-width: 991.98px) {
        .interview-section .interview-slider .owl-nav {
          top: -66px;
          right: -10px; } }
      @media (max-width: 767.98px) {
        .interview-section .interview-slider .owl-nav {
          right: -11px;
          top: -60px; } }
      @media (max-width: 575.98px) {
        .interview-section .interview-slider .owl-nav {
          right: -11px; } }
      .interview-section .interview-slider .owl-nav button {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        cursor: pointer; }
      .interview-section .interview-slider .owl-nav .owl-prev {
        position: relative;
        height: 50px;
        width: 50px;
        padding-left: 10px; }
        .interview-section .interview-slider .owl-nav .owl-prev:hover::after {
          width: 50px; }
        .interview-section .interview-slider .owl-nav .owl-prev::after {
          position: absolute;
          content: "";
          height: 50px;
          width: 30px;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          top: 0;
          right: -10px;
          background-color: #333333;
          z-index: -1; }
      .interview-section .interview-slider .owl-nav .owl-next {
        width: 50px;
        height: 50px;
        position: relative;
        height: 50px;
        padding-right: 10px; }
        .interview-section .interview-slider .owl-nav .owl-next:hover::after {
          width: 50px; }
        .interview-section .interview-slider .owl-nav .owl-next::after {
          position: absolute;
          content: "";
          height: 50px;
          width: 30px;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          top: 0;
          left: -10px;
          background-color: #333333;
          z-index: -1; }

.portfolio-section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 767.98px) {
    .portfolio-section {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .portfolio-section .pulsating-circle {
    width: 100px;
    height: 100px;
    right: -100px;
    top: 49px;
    z-index: 1; }
    .portfolio-section .pulsating-circle:after {
      background-image: url(../images/leaf.svg);
      background-color: #d2b48c00;
      background-repeat: no-repeat;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .portfolio-section .main-heading {
    text-align: left;
    margin-bottom: 20px; }
  .portfolio-section .heading-content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 767.98px) {
      .portfolio-section .heading-content-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .portfolio-section .heading-content-box .heading-content {
      max-width: 786px;
      opacity: 0.7; }
    .portfolio-section .heading-content-box .primary-btn {
      margin-right: 38px;
      color: #000; }
      .portfolio-section .heading-content-box .primary-btn::before {
        background-color: #DADAE2; }
      .portfolio-section .heading-content-box .primary-btn::after {
        background-image: url("../images/arrow-2.svg"); }
  .portfolio-section .portfolioBox {
    margin-top: 30px; }

.contact-section {
  padding-bottom: 100px;
  position: relative; }
  .contact-section::after {
    position: absolute;
    content: "";
    -webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #efeef2;
    background: -moz-linear-gradient(0deg, #efeef2 0%, rgba(239, 238, 242, 0) 60%);
    background: -webkit-linear-gradient(0deg, #efeef2 0%, rgba(239, 238, 242, 0) 60%);
    background: -webkit-gradient(linear, left bottom, left top, from(#efeef2), color-stop(60%, rgba(239, 238, 242, 0)));
    background: -webkit-linear-gradient(bottom, #efeef2 0%, rgba(239, 238, 242, 0) 60%);
    background: -o-linear-gradient(bottom, #efeef2 0%, rgba(239, 238, 242, 0) 60%);
    background: linear-gradient(0deg, #efeef2 0%, rgba(239, 238, 242, 0) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeef2", endColorstr="#efeef2", GradientType=1);
    z-index: -1; }
  .contact-section .main-heading {
    margin-bottom: 35px; }
  .contact-section .contact-form {
    -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
    padding: 50px;
    background-color: #fff; }
    @media (max-width: 767.98px) {
      .contact-section .contact-form {
        padding: 20px; } }
    .contact-section .contact-form .form-group {
      margin-bottom: 19px; }
      .contact-section .contact-form .form-group .form-control {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #BDBDBD;
        color: #666666;
        padding-left: 0;
        font-size: 14px;
        font-weight: 400;
        height: 40px; }
      .contact-section .contact-form .form-group textarea.form-control {
        height: 70px;
        resize: none; }
      .contact-section .contact-form .form-group select {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #BDBDBD;
        color: #666666;
        padding-left: 0;
        font-size: 14px;
        font-weight: 400;
        height: 40px;
        width: 100%;
        -webkit-appearance: none;
        outline: none;
        position: relative;
        background-color: #fff; }
      .contact-section .contact-form .form-group .dropdown {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        right: 25px;
        top: 18px;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        -webkit-transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important; }
    .contact-section .contact-form .primary-btn {
      color: #000;
      border: none;
      background-color: transparent;
      margin-top: 20px; }
      .contact-section .contact-form .primary-btn::before {
        background-color: #DADAE2; }
      .contact-section .contact-form .primary-btn::after {
        background-image: url("../images/arrow-2.svg"); }
  .contact-section .contact-img {
    position: relative; }
    @media (max-width: 767.98px) {
      .contact-section .contact-img .contact-img-1 {
        width: 100%; } }
    .contact-section .contact-img .contact-img-2 {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .contact-section .contact-img .pulsating-circle {
      width: 62px;
      height: 62px;
      right: 57px;
      top: 9px;
      z-index: 1; }
      .contact-section .contact-img .pulsating-circle:after {
        background-image: url(../images/leaf.svg);
        background-color: #d2b48c00;
        background-repeat: no-repeat;
        -webkit-box-shadow: none;
        box-shadow: none; }

.footer-section {
  background-color: #000;
  padding-top: 80px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 767.98px) {
    .footer-section {
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center; } }
  .footer-section .left {
    margin-bottom: 20px; }
    .footer-section .left h4 {
      color: #B3B3B3;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 15px; }
      @media (max-width: 767.98px) {
        .footer-section .left h4 {
          margin-bottom: 10px; } }
    .footer-section .left h3 {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 50px; }
      @media (max-width: 767.98px) {
        .footer-section .left h3 {
          margin-bottom: 20px; } }
    .footer-section .left ul {
      padding-left: 0;
      list-style-type: none;
      margin-bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 767.98px) {
        .footer-section .left ul {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
      .footer-section .left ul li {
        color: #fff;
        margin-right: 20px; }
        .footer-section .left ul li a {
          color: #fff; }
          .footer-section .left ul li a svg {
            width: 14px;
            margin-top: -1px; }
            .footer-section .left ul li a svg path {
              fill: #fff; }
  .footer-section .right p {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    color: #fff;
    line-height: 1.5;
    max-width: 358px; }
  .footer-section .right img {
    width: 75px; }
  @media (max-width: 767.98px) {
    .footer-section .belt-left {
      margin-top: 15px; } }
  .footer-section .belt-left ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 767.98px) {
      .footer-section .belt-left ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .footer-section .belt-left ul li {
      margin-right: 35px; }
      .footer-section .belt-left ul li a {
        color: #fff;
        font-size: 14px;
        font-weight: 400; }
  .footer-section .powered {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0; }
    @media (max-width: 767.98px) {
      .footer-section .powered {
        margin-top: 15px; } }
    .footer-section .powered span {
      opacity: 0.5; }
    .footer-section .powered a {
      color: #fff; }
  .footer-section .ripple {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
    border-radius: 50%;
    z-index: 4;
    -webkit-animation: pulse 4s infinite;
    animation: pulse 4s infinite;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    @media (max-width: 991.98px) {
      .footer-section .ripple {
        top: 30%; } }
  .footer-section .inner-ripple {
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: 1px solid #fff; }
  .footer-section .middle-ripple {
    background-color: transparent;
    width: 200px;
    height: 200px;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
    border: 1px solid #fff; }
  .footer-section .outer-ripple {
    background-color: transparent;
    width: 350px;
    height: 350px;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
    border: 1px solid #fff; }

@keyframes pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
    transform: scale(1) translateX(-50%) translateY(-50%); }
  30% {
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    opacity: 0; } }
  .footer-section .small.ripple {
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
    border-radius: 50%;
    z-index: 4;
    -webkit-animation: small-pulse 4s infinite;
    animation: small-pulse 4s infinite;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    @media (max-width: 991.98px) {
      .footer-section .small.ripple {
        top: 30%; } }
  .footer-section .small.inner-ripple {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: 1px solid #fff; }
  .footer-section .small.middle-ripple {
    background-color: transparent;
    width: 100px;
    height: 100px;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
    border: 1px solid #fff; }
  .footer-section .small.outer-ripple {
    background-color: transparent;
    width: 175px;
    height: 175px;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
    border: 1px solid #fff; }

@-webkit-keyframes small-pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
    transform: scale(1) translateX(-50%) translateY(-50%); }
  30% {
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    opacity: 0; } }

@keyframes small-pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
    transform: scale(1) translateX(-50%) translateY(-50%); }
  30% {
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    transform: scale(1.5) translateX(-33.3%) translateY(-33.3%);
    opacity: 0; } }
  .footer-section .pulsating-circle {
    width: 76px;
    height: 76px;
    left: -36px;
    top: 135px;
    z-index: 1;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }
    .footer-section .pulsating-circle:after {
      background-image: url(../images/leaf-white.svg);
      background-color: #d2b48c00;
      background-repeat: no-repeat;
      -webkit-box-shadow: none;
      box-shadow: none; }

.pulsating-circle.one {
  left: 48%;
  bottom: -25px; }

@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes moveDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

.services-section {
  margin-top: 100px;
  overflow: hidden; }
  .services-section .wellness-heading h1 {
    text-align: center; }
  .services-section .wellness-heading p {
    text-align: center;
    max-width: 908px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 7rem; }
  .services-section .vdoWrapper {
    position: relative;
    height: 500px;
    margin-left: 0px;
    margin-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 980px) {
      .services-section .vdoWrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        height: inherit; } }
    .services-section .vdoWrapper .bgVdo {
      width: calc(100% / 5);
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s; }
      @media (max-width: 980px) {
        .services-section .vdoWrapper .bgVdo {
          width: 100%;
          height: 400px; } }
    .services-section .vdoWrapper .bgVdo.active {
      width: 100%;
      -webkit-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s; }
    .services-section .vdoWrapper .bgVdo.hide {
      width: 0%;
      -webkit-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s; }
      @media (max-width: 980px) {
        .services-section .vdoWrapper .bgVdo.hide {
          width: 100%; } }
    .services-section .vdoWrapper ul {
      position: absolute;
      top: 0;
      padding-left: 0;
      list-style-type: none;
      margin-bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      -webkit-box-shadow: inset 0 -77px 49px 0px #00000099;
      box-shadow: inset 0 -77px 49px 0px #00000099; }
      @media (max-width: 980px) {
        .services-section .vdoWrapper ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      .services-section .vdoWrapper ul li {
        width: calc(100% / 5);
        height: 100%;
        border-right: 2px solid #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 30px 15px; }
        .services-section .vdoWrapper ul li:hover {
          background-color: rgba(0, 0, 0, 0.349); }
          .services-section .vdoWrapper ul li:hover p {
            display: block; }
        @media (max-width: 980px) {
          .services-section .vdoWrapper ul li {
            width: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            height: 400px;
            border-right: none;
            border-bottom: 2px solid #fff; } }
        .services-section .vdoWrapper ul li h1 {
          color: #fff;
          margin-top: auto;
          font-size: 26px; }
        .services-section .vdoWrapper ul li p {
          color: #fff;
          display: none; }
